In [69]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [70]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Kudat,MY,76.93,few clouds,6.8837,116.8477,Dream Garden Hotel
1,7,Sao Francisco,BR,87.60,light rain,-15.9486,-44.8644,Pousada Peixe Vivo
2,12,Hami,CN,80.29,few clouds,42.8000,93.4500,Laoyutang Resort
3,15,Rikitea,PF,75.52,overcast clouds,-23.1203,-134.9692,People ThankYou
4,26,Cabo San Lucas,MX,79.61,clear sky,22.8909,-109.9124,Vista Roof Restaurant

In [71]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [72]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
route_df = vacation_df.loc[vacation_df["Country"]=="MX"]
route_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,26,Cabo San Lucas,MX,79.61,clear sky,22.8909,-109.9124,Vista Roof Restaurant
19,87,Anahuac,MX,85.48,clear sky,27.2333,-100.1500,HOTEL SAN FELIPE
41,159,Acapulco,MX,82.60,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
147,434,Cuautla,MX,79.81,clear sky,18.8000,-98.9500,Hotel de Cuautla
150,448,Lazaro Cardenas,MX,82.08,clear sky,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
161,476,Puerto Escondido,MX,83.23,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [49]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = "Cuautla"
vacation_end = "Cuautla"
stop1 = "Lazaro Cardenas"
stop2 = "Acapulco"
stop3= "Puerto Escondido"

vacation_start = route_df.loc[route_df["City"] == vacation_start]
vacation_end = route_df.loc[route_df["City"] == vacation_end]
vacation_stop1 = route_df.loc[route_df["City"] == stop1]
vacation_stop2 = route_df.loc[route_df["City"] == stop2]
vacation_stop3 = route_df.loc[route_df["City"] == stop3]

In [51]:
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [53]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
print(start) 
print(end) 
print(stop1) 
print(stop2) 
print(stop3)

[ 18.8  -98.95]
[ 18.8  -98.95]
[  17.9583 -102.2   ]
[ 16.8634 -99.8901]
[ 15.85   -97.0667]

In [56]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
mx_itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
mx_itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,434,Cuautla,MX,79.81,clear sky,18.8000,-98.9500,Hotel de Cuautla
1,448,Lazaro Cardenas,MX,82.08,clear sky,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
2,159,Acapulco,MX,82.60,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
3,476,Puerto Escondido,MX,83.23,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [63]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in mx_itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = mx_itinerary_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map.
locations = mx_itinerary_df[["Lat", "Lng"]]
max_temp = mx_itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))